.status-tag span {
  font-size: 12px;
  /* Smaller text size */
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
}

.status-pending {
  background-color: #fff3cd;
  font-weight: bold;
  color: #856404;
   padding: 7px;
  border-radius: 100px;
}

.status-accepted {
  background-color: #d4edda;
  color: #155724;
   font-weight: bold;
   padding: 7px;
  border-radius: 100px;
}

.status-rejected {
  background-color: #f8d7da;
   font-weight: bold;
   color: #721c24;
   padding: 7px;
  border-radius: 100px;
}

.status-deleted {
  background-color: #e2e3e5;
  color: #383d41;
   font-weight: bold;
   padding: 7px;
  border-radius: 100px;
}